* {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-webstudiobl {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 93px;
  margin-right: auto;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.nav-icon-smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.nav-icon-envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.nav-studio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio:after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-studio:hover, .nav-studio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page {
  position: relative;
}

.nav-portfolio:hover + .navigation-box {
  transform: translatey(0);
  background-color: #2196f3;
}

.nav-portfolio:hover, .nav-portfolio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts:hover, .nav-contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-contacts:hover + .navigation-box {
  transform: translatey(0);
  background-color: #2196f3;
}

.nav-tel {
  display: flex;
  align-items: center;
}

.contacts-item:hover .nav-icon-smartphone, .contacts-item:focus .nav-icon-smartphone {
  fill: #2196F3;
}

.contacts-item:hover .nav-icon-envelope, .contacts-item:focus .nav-icon-envelope {
  fill: #2196F3;
}

.contact-text:hover {
  color: #2196F3;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-item:hover .nav-icons-envelope, .contacts-item:focus .nav-icons-envelope {
  fill: #2196f3;
}

.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero-section {
  height: 600px;
  background-color: #2f303a, rgba(47, 48, 58, 0.4);
  background-image: url(../img/main/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/main/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 30px;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-btn {
  font-weight: 670;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  padding: 10px 32px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 94px;
}

.advantage-item {
  width: 270px;
}

.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.advantage-item:nth-child(1):before {
  background-image: url(../../img/main/adventage-1.png);
}

.advantage-item:nth-child(2)::before {
  background-image: url(../../img/main/adventage-2.png);
}

.advantage-item:nth-child(3)::before {
  background-image: url(../../img/main/adventage-3.png);
}

.advantage-item:nth-child(4)::before {
  background-image: url(../../img/main/adventage-4.png);
}

.advantage-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.company-involded {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 118px;
  margin-bottom: 50px;
  animation: TitleInvoledRun 1500ms ease-in 400ms both;
}

@keyframes TitleInvoledRun {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.company-item {
  position: relative;
}

.company-text {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.company-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  opacity: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  animation: TitleTeamRun 2000ms ease-in 400ms both;
}

@keyframes TitleTeamRun {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 28px;
}

.team-item {
  width: 270px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

.team-icons {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover .team-icons,
.icons-link:focus .team-icons {
  fill: #ffffff;
}

.icons-link:hover,
.icons-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icons-item {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover .team-icons,
.icons-link:focus .team-icons {
  fill: #ffffff;
}

.customer-title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  padding-bottom: 50px;
  animation: TitleCustomerRun 1500ms ease-in 400ms both;
}

@keyframes TitleCustomerRun {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.customer-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}

.customer-item {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
}

.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  fill: #2196f3;
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.customer-icons {
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0px 40px;
  width: 528px;
  height: 630px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms;
}

.backdrop {
  opacity: 0;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-hidden) .modal-window {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.modal-input {
  border-radius: 4px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 35px;
  transition: border cubic-bezier(0.4, 0, 0.02, 1) 250ms;
}

.modal-input:hover {
  border-radius: 4px;
  border: 2px solid #2196f3;
}

.modal-input:active {
  border-radius: 4px;
  border: 2px solid #2196f3;
}

.modal-label:hover .modal-person,
.modal-label:hover .modal-phone,
.modal-label:hover .modal-email {
  fill: #2196f3;
}

.modal-input:focus + .modal-person,
.modal-input:focus + .modal-phone,
.modal-input:focus + .modal-email {
  fill: #2196f3;
}

.modal-input:focus {
  border-radius: 4px;
  border: 2px solid #2196f3;
}

.modal-comment {
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding-bottom: 120px;
  padding-right: 250px;
  padding-top: 15px;
  padding-left: 15px;
  transition: border cubic-bezier(0.4, 0, 0.02, 1) 250ms;
  display: block;
}

.modal-comment:hover {
  border-radius: 4px;
  border: 2px solid #2196f3;
}

.modal-comment:focus {
  border-radius: 4px;
  border: 2px solid #2196f3;
}

.modal-checkbox {
  margin-top: 25px;
  background-color: transparent;
  border: solid 2px #212121;
}

.modal-form {
  position: relative;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-button {
  border: none;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: 165px;
  margin-top: 30px;
}

.modal-person {
  position: absolute;
  top: 33px;
  left: 12px;
}

.modal-phone {
  position: absolute;
  top: 108px;
  left: 12px;
}

.modal-email {
  position: absolute;
  top: 181px;
  left: 12px;
}

.blue-conditions {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.label-conditions {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 7px;
}

.modal-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-left: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-close {
  padding: 5px 5px 1px 5px;
  position: absolute;
  top: 8.5px;
  right: 8px;
  border: 2px solid #c9c9c9;
  border-radius: 50px;
}

.footer-box {
  margin-right: 70px;
}

.footer-container {
  display: flex;
}

.webstudio-wh {
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-contacts {
  font-weight: 400;
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-weight: 400;
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts2 {
  font-weight: 400;
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-icons-box {
  margin-left: 70px;
}

.footer-title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-list-icons {
  display: flex;
  padding-top: 32px;
  gap: 10px;
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  fill: #ffffff;
  border-radius: 50%;
  background-color: #2196f3;
}

.footer-icons-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-label {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
}

.footer-input:hover, .footer-input:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.footer-button:focus, .footer-button:hover {
  outline: 0;
  background-color: #fff;
  color: #2196f3;
}

.footer-button:focus .form-icon, .footer-button:hover .form-icon {
  fill: #2196f3;
}

.footer-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-box2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.footer-form {
  padding-left: 93px;
}

.input-button-container {
  display: flex;
  gap: 10px;
}

.news-content {
  margin-left: 93px;
}

.news-label {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.news-input {
  width: 358px;
  height: 50px;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.news-svg {
  fill: #f5f4fa;
}

.news-svg:hover {
  fill: #2196F3;
}

.news-button {
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 17px;
}/*# sourceMappingURL=main.css.map */