%header-font{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

%transition{
  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%transition-bg{
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%nav-text{
    font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

%footer-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

%footer-font{
  color: $white-color;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

%text-size{
    font-size: 14px;
    line-height: 24px;
}

%flex-base{
    display: flex;
    justify-content: center;
    align-items: center;
}













%list-position {
    display: flex;
    align-items: center;
}
%pseudo-elements-basic-styles {
    content: "";
    display: block;
    width: 100%;
}

%display-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}