$blue-color: #2196f3;
$black-color: #000000;
$gray-color: #757575;
$second-black: #212121;
$white-color: #ffffff;
$dark-gray: #2f303a;
$shadow: rgba(0, 0, 0, 0.15);

$light-gray: rgba(255, 255, 255, 0.6);
$footer-icons: rgba(255, 255, 255, 0.10);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer-input-bg: rgba(33, 150, 243, 0);

$advantage-team-bg: #f5f4fa;

$customer-link-border-fill: #afb1b8;

$hero-bg: rgba(47, 48, 58, 0.4);

$modal-input-border: rgba(33, 33, 33, 0.2);
$modal-bg: rgba(0, 0, 0, 0.5);
$modal-border: #c9c9c9;

$team-icons: #afb1b8;

$poster-border: #EEE;
$poster-overlay: rgba(33, 150, 243, 0.90);

$weight: 700;
$size: 26px;
$height: 1.19;
$spacing: 0.03em;

$main-color: #2196F3;
$button-color: #188CE8;
$text-color1: #212121;
$text-color2: #757575;
$Roboto: 'Roboto';
$Raleway: 'Raleway';