$blue-color: #2196f3;
$black-color: #000000;
$gray-color: #757575;
$second-black: #212121;
$white-color: #ffffff;
$dark-gray: #2f303a;

$light-gray: rgba(255, 255, 255, 0.6);
$footer-icons: rgba(255, 255, 255, 0.10);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer-unput-bg: rgba(33, 150, 243, 0);
$footer-shadow: rgba(0, 0, 0, 0.15);