.advantage {
  padding-top: 94px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    width: 290px;

    @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    &:nth-child(1):before {
      background-image: url(../../img/main/adventage-1.png);
    }

    &:nth-child(2):before {
      background-image: url(../../img/main/adventage-2.png);
    }

    &:nth-child(3):before {
      background-image: url(../../img/main/adventage-3.png);
    }

    &:nth-child(4):before {
      background-image: url(../../img/main/adventage-4.png);
    }

    &::before {
      content: "";
      display: block;
      width: 270px;
      height: 120px;
      background-color: $advantage-team-bg;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;

      @media screen and (min-width: 480px) {
            width: 450px;
            height: 120px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        }

         @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
        
    }
  }

    &__title {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: $second-black;

      @media screen and (min-width: 480px) {
            font-size: 14px;
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            font-size: 14px;
            text-align: left;
        }

        @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: $second-black;
      text-align: left;
        }
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $gray-color;
      margin-top: 10px;
    }
}
