.company-involded {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 118px;
  margin-bottom: 50px;

  animation: TitleInvoledRun 1500ms ease-in 400ms both;

}

@keyframes TitleInvoledRun{
  0%{
    transform: translateX(-1500px);
  }

  100%{
    transform: translateX(0px);
  }

}

.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.company-item{
  position: relative;
}

.company-text{
color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.company-box{
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: #2F303ACC;
    left: 0;
    bottom: 0;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}