.footer {
  background: $dark-gray;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
  }

  &__webstudio-wh {
    color: $white-color;
  }

  &__adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-color;
    padding-top: 20px;
    padding-bottom: 9px;
  }

  &__contacts {
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $light-gray;
  }

  &__phone {
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $light-gray;
  }
}

.icons {
  margin-left: 70px;

  &__title {
    color: $white-color;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    padding-top: 32px;
    gap: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: $footer-icons;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    fill: $white-color;
    border-radius: 50%;
    background-color: $blue-color;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $white-color;
  }
}

.news {
  margin-left: 93px;

  &__label {
  color: $white-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

&__input {
  width: 342px;
  height: 50px;
  margin-top: 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px $shadow;
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}

&__input-button-container {
  display: flex;
  gap: 10px;
}

&__svg {
  fill: $white-color;
}

&__svg:hover {
  fill: $blue-color;
}

&__button {
  border-radius: 4px;
  background-color: $blue-color;
  box-shadow: 0px 4px 4px 0px $shadow;
  color: $white-color;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 17px;
}
}

