.footer {
  background: $dark-gray;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
    flex-wrap: wrap;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media screen and (min-width: 1200px) { 
      flex-direction: row;
    }
  }

  &__webstudio-wh {
    color: $white-color;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
text-align: center
  }

  &__adress {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
text-align: center;
margin-top: 20px;
margin-bottom: 9px;

    @media screen and (min-width: 1200px) {
    font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    display: flex;
    color: $white-color;
    padding-top: 20px;
    padding-bottom: 9px;
    }
  }

  &__contacts {
font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    display: flex;
    color: $light-gray;

    @media screen and (min-width: 1200px) {
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
    }
  }

  &__phone {

    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;

    @media screen and (min-width: 1200px) {
font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    display: flex;
    color: $light-gray;
    }
  }

&__icons {
  margin-left: 70px;

}
&__icons-title {
   @extend %footer-font !optional;
}
&__icons-list {
    display: flex;
    margin-top: 32px;
    gap: 10px;
    
  }

  &__icons-link {
    width: 44px;
    height: 44px;
    background-color: $footer-icons;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %transition-bg !optional;
  }

  &__icons-link:hover,
  &__icons-link:focus {
    fill: $white-color;
    border-radius: 50%;
    background-color: $blue-color;
  }

  &__icons-svg {
    width: 20px;
    height: 20px;
    fill: $white-color;
  } 


&__news {
  margin-left: 93px;
}

&__news-label {
  @extend %footer-font !optional;
}

&__news-input {
  width: 342px;
  height: 50px;
  margin-top: 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px $shadow;
  color: rgba(255, 255, 255, 0.6);

  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}

&__news-input-button-container {
  display: flex;
  gap: 10px;
}

&__news-svg {
  fill: $white-color;
}

&__news-svg:hover {
  fill: $blue-color;
}

&__news-button {
  border-radius: 4px;
  background-color: $blue-color;
  box-shadow: 0px 4px 4px 0px $shadow;
  color: $white-color;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 17px;
}
}