.header {
  padding-top: 24px;
  padding-bottom: 25px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
  }

  &__logo {
    color: #2196f3;
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.72px;
    color: $blue-color;

    @media screen and (min-width: 1200px) {
    font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
    }
  }

  &__menu {
    display: block;
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__svg {
    width: 40px;
    height: 40px;
  }

  &__list {
    display: none;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 93px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      display: flex; 
    }
  }

  &__page {
    position: relative;
  }

  &__nav-webstudiobl {
    color: #212121;
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.72px;
    color: $black-color;

    @media screen and (min-width: 1200px) {
     font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
    }
  }

  &__nav-studio {
    position: relative;
    @extend %nav-text;
    color: $second-black;
    @extend %transition;
  }

  &__nav-studio:after {
    content: "";
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-color;
  }

  &__nav-studio:hover,
  .nav-studio:focus {
    @extend %nav-text;
    color: $blue-color;
  }

  &__nav-portfolio {
    @extend %nav-text;
    color: $second-black;
    @extend %transition;
  }

  &__nav-portfolio:hover + &__navigation-box {
    transform: translatey(0);
    background-color: $blue-color;
  }
  &__nav-portfolio:hover,
  .header__nav-portfolio:focus {
    @extend %nav-text;
    color: $blue-color;
  }

  &__nav-contacts {
    @extend %nav-text;
    color: $second-black;
    @extend %transition;
  }

  &__nav-contacts:hover,
  .header__nav-contacts:focus {
    @extend %nav-text;
    color: $blue-color;
  }

  &__nav-contacts:hover + .navigation-box {
    transform: translatey(0);
    background-color: $blue-color;
  }

  &__contacts-list {
    display: none;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      display: flex;
      column-gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    }

  &__nav-tel {
    display: flex;
    align-items: center;
  }

  &__nav-icon-smartphone {
    width: 10px;
    height: 16px;
    fill: $gray-color;
    margin-right: 10px;
  }

  &__nav-mail {
    @extend %nav-text;
    color: $gray-color;
  }

  &__nav-icon-envelope {
    width: 16px;
    height: 12px;
    fill: $gray-color;
    margin-right: 10px;
  }

  &__contacts-item:nth-child(1) {
    margin-bottom: 10px;
  }

  &__contacts-item:hover &__nav-icon-smartphone,
  &__contacts-item:focus &__nav-icon-smartphone {
    fill: $blue-color;
  }

  &__contacts-item:hover &__nav-icon-envelope,
  &__contacts-item:focus &__nav-icon-envelope {
    fill: $blue-color;
  }

  &__contact-text:hover {
    color: $blue-color;
  }

  &__contacts-item:hover &__nav-icons-envelope,
  &__contacts-item:focus &__nav-icons-envelope {
    fill: $blue-color;
  }

  &__contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $gray-color;
  }
  }


.logo {
  @extend %header-font;
  color: $blue-color;
}
