.header {
  outline: solid $white-color 1px;
  position: relative;

  &__logo{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
}

&__page {
  position: relative;
}

&__list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  position: relative;
}

&__section {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

&__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

&__page:not(:last-child) {
  margin-right: 50px;
}

&__nav-icon-smartphone {
  width: 10px;
  height: 16px;
  fill: $gray-color;
  position: absolute;
  top: 31px;
  left: 1206px
}

&__nav-icon-envelope {
  width: 16px;
  height: 12px;
  fill: $gray-color;
  position: absolute;
  top: 33px;
  left: 1372px;
}

&__nav-studio:hover + &__navigation-box {
  transform: translatey(0);
  background-color: $blue-color;
}

&__nav-contacts:hover + &__navigation-box {
  transform: translatey(0);
  background-color: $blue-color;
}

&__nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $black-color;
  @extend %transition;
}

&__nav-studio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $blue-color;
}

&__nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-black;
  position: relative;
  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__nav-portfolio:after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blue-color;
}

&__nav-portfolio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $blue-color;
}

&__nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-black;
  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__nav-contacts:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $blue-color;
}

&__nav-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $gray-color;
}

&__nav-tel:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $blue-color;
}

&__nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $gray-color;
}

&__nav-mail:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $blue-color;
}

&__nav-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
  margin-right: 93px;
}

&__nav-webstudiobl {
  color: black;
}

&__contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: auto;
}
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
}