.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: relative;

  &__container {
  display: flex;
  align-items: center;
}


  &__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

&__logo {
  @extend %header-font;
  color: $blue-color;
}

&__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 93px;
  margin-right: auto;
}

&__page{
  position: relative;
}

&__nav-webstudiobl {
 @extend %header-font;
  color: $black-color;
}

&__nav-studio {
  position: relative;
  @extend %nav-text;
  color: $second-black;
  @extend %transition;
}

&__nav-studio:after{
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blue-color;
  }

&__nav-studio:hover, .nav-studio:focus {
  @extend %nav-text;
  color: $blue-color;
}

&__nav-portfolio {
@extend %nav-text;
  color: $second-black;
  @extend %transition;
}


&__nav-portfolio:hover + &__navigation-box {
  transform: translatey(0);
  background-color: $blue-color;
}
&__nav-portfolio:hover, .header__nav-portfolio:focus {
  @extend %nav-text;
  color: $blue-color;
}

&__nav-contacts {
  @extend %nav-text;
  color: $second-black;
  @extend %transition;
}

&__nav-contacts:hover, .header__nav-contacts:focus {
  @extend %nav-text;
  color: $blue-color;
  
}

&__nav-contacts:hover + .navigation-box {
  transform: translatey(0);
  background-color: $blue-color;
}

&__contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

&__nav-tel {
display: flex;
align-items: center;
}

&__nav-icon-smartphone {
  width: 10px;
  height: 16px;
  fill: $gray-color;
  position: absolute;
  top: 31px;
  left: 1206px
}

&__nav-mail {
  @extend %nav-text;
  color: $gray-color;
}

&__nav-icon-envelope {
  width: 16px;
  height: 12px;
  fill: $gray-color;
  position: absolute;
  top: 33px;
  left: 1372px;
}

&__contacts-item:hover &__nav-icon-smartphone, &__contacts-item:focus &__nav-icon-smartphone{
  fill: $blue-color;
}

&__contacts-item:hover &__nav-icon-envelope, &__contacts-item:focus &__nav-icon-envelope{
  fill: $blue-color;
}

&__contact-text:hover{
  color: $blue-color;
}


&__contacts-item:hover &__nav-icons-envelope, &__contacts-item:focus &__nav-icons-envelope  {
  fill: $blue-color;
}

&__contact-text{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: $gray-color;
}
}

.logo {
  @extend %header-font;
  color: $blue-color;
}
