* {
  text-decoration: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}