.btn{
&__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
  padding-top: 100px;
  padding-bottom: 56px;
  max-width: 350px;

  @media screen and (min-width: 768px) {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-top: 100px;
  padding-bottom: 56px;
  max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;
  padding-bottom: 56px;
  max-width: 100%;
  }
} 

&__first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  border: 0;
  border-radius: 4px;
  width: 73px;
  height: 38px;
  background: #F5F4FA;
}

&__second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  border: 0;
  border-radius: 4px;
  width: 125px;
  height: 38px;
  background: #F5F4FA;
}

&__third {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  border: 0;
  border-radius: 4px;
  width: 112px;
  height: 38px;
  background: #F5F4FA;
}

&__fourth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  border: 0;
  border-radius: 4px;
  width: 103px;
  height: 38px;
  background: #F5F4FA;
}

&__fiveth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  border: 0;
  border-radius: 4px;
  width: 130px;
  height: 38px;
  background: #F5F4FA;
}

&__first:active,
&__second:active,
&__third:active,
&__fourth:active,
&__fiveth:active{
  background: $blue-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: aliceblue;
}
}
